text/plain;Plain Text;[[%lastupd%

]][[User Agent: %useragent%

]][[*** Extensions (enabled: %enabled_extensions_count%, disabled: %disabled_extensions_count%; total: %extensions_count%)
{{extension:%name% %version% %disabled-text%
}}
]][[*** Themes (total: %themes_count%)
{{theme:%name% %version% %selected-text%
}}
]][[*** Plugins (enabled: %plugins_count%)
{{plugin:%name% %version%
}}
]]
